/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/

$color-white: #ffffff;
$color-black: #2f2f2f;
$color-grey: #383838;
$color-light: #ebebeb;
$color-pink: rgb(212, 164, 164);
$color-green: rgb(190, 235, 179);
$box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
$box-shadow-hover: 0 0 15px 0 rgba(0, 0, 0, 0.5);

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

* {
  padding: 0;
  margin: 0;
}

html,body{
  width: 100%;
  height: 100%;
}

body {
  color: $color-black;
  background: $color-white;
  display: flex;
  flex-direction: column;
}

a {
  color: $color-black;
  text-decoration: none;
  &:hover {
    color: $color-pink;
  }
}

.material-icons {
  font-size: 1rem;
}

/*--------------------------------------------------------------
# Basic Grid
--------------------------------------------------------------*/

.container,
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.container {
  max-width: 1140px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.d-flex {
  display: flex !important;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.mr-auto {
  margin-right: auto !important;
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.fixed-top {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}
header {
  transition: all 0.5s;
  z-index: 1;
  padding: 0;
  position: fixed;
  margin: 0;
  background-color: $color-grey;
  width: 100%;
  background: $color-grey;
  box-shadow: $box-shadow;
  .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 0px;
    font-family: "handwriting-aperto";
    a {
      color: #000;
      height: 3rem;
    }
    img {
      max-height: 2rem;
    }
  }
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

.nav-menu {
  .navicon {
    display: none;
    .burger {
      display: flex;
      cursor: pointer;
      background: none;
      transition: all 0.35s ease;
      width: 100%;
      height: 1.5rem;
      margin: 0.8rem 0;
      
      .material-icons{
        color: $color-white;
        font-size: 1.5rem;
      }

      &-close {
        display: none;
      }

      &.active {
        .burger-open {
          display: none;
        }
        .burger-close {
          display: flex;
        }
      }
    }
  }
  .menu {
    transition: all 0.35s ease;
    display: flex;
    margin: 0;
    padding: 0;
    ul {
      list-style: none;
      display: flex;
      li {
        position: relative;
        white-space: pre-wrap;
        font-size: 1rem;
        a {
          display: block;
          position: relative;
          color: $color-white;
          transition: 0.3s;
          font-size: 15px;
          letter-spacing: 0.5px;
          font-weight: 500;
          font-family: "Open Sans", sans-serif;
          padding: 1.1rem;

          &:hover {
            color: $color-black;
            background: $color-white;
          }
        }
      }
      .menu-icon a {
        padding: 0.9rem;
        .material-icons {
          font-size: 1.2rem;
        }
      }
    }
  }
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
main {
  flex: 1 0 auto;
  padding-top: 3.1rem;
}

/*--------------------------------------------------------------
# Tablet
--------------------------------------------------------------*/

@media only screen and(max-width: 1200px) {
// ----- Navigation TABLET -----
  header {
    .logo {
      display: none;
    }
  }

  .nav-menu {
    display: flex;
    width: 100%;
    .navicon {
      display: block;
      margin: 0 1rem;
      .burger {
        &.active {
          height: 15rem;
        }
      }
    }
    .menu {
      &.active {
        margin: auto;
        align-items: center;

        ul {
          display: flex;
          flex-direction: column;
        }

        .menu-item {
          display: block;
        }
      }
      .menu-item {
        display: none;
      }
      .menu-icon {
        display: flex;
        position: absolute;
        top: 0;

        &#menu-icon1 {
          right: 3rem;
        }
        &#menu-icon2 {
          right: 0;
        }
      }
    }
  }
}

/*--------------------------------------------------------------
# Mobile
--------------------------------------------------------------*/

@media only screen and(max-width: 640px) {
// ----- Navigation MOBILE -----
 
}
