/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/

$color-white: #ffffff;
$color-black: #222222;
$color-grey: #383838;
$color-light-grey: #727272;
$color-purple: #32325d;
$color-light: #ebebeb;
$overlay: rgba(0, 0, 0, 0.9);
$color-pink: rgb(212, 164, 164);
$color-green: rgb(190, 235, 179);
$box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
$box-shadow-hover: 0 0 15px 0 rgba(0, 0, 0, 0.5);
$acard-width: 21rem;
$card-width: 18rem;

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  color: $color-black;
  background: $color-white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

a {
  color: $color-black;
  text-decoration: none;
}

.material-icons {
  font-size: 1rem;
}

section {
  .container {
    padding-top: 0rem;
    padding-bottom: 3rem;
  }
  h2 {
    text-align: center;
    padding: 2rem;
  }
}

.btn-classic{
  background-color: #383838;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
      -webkit-transform: scale(1.05);
    }
}

.w-25rem{
  width: 25rem;
}

.fixed-nav {
  position: fixed !important;
}

.overflow-hidden{
  
  overflow: hidden;
}
/*--------------------------------------------------------------
# Basic Grid
--------------------------------------------------------------*/

.container,
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.container {
  max-width: 1200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.d-flex {
  display: flex !important;
}

.d-flex-center {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.d-flex-col {
  flex-direction: column;
}

.t-align-center {
  text-align: center;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.mr-auto {
  margin-right: auto !important;
}

.align-items-center {
  align-items: center;
}

.hide {
  display: none !important;
}

.w-100{
  width: 100% !important;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

header {
  transition: all 0.5s;
  z-index: 999;
  padding: 0;
  position: fixed;
  margin: 0;
  background-color: $color-grey;
  width: 100%;
  background: $color-grey;
  box-shadow: $box-shadow;
  .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 0px;
    a {
      color: #000;
      height: 3rem;
    }
    img {
      max-height: 2rem;
    }
  }
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

.nav-menu {
  .navicon {
    display: none;
    .burger {
      display: flex;
      cursor: pointer;
      background: none;
      transition: all 0.35s ease;
      width: 100%;
      height: 1.5rem;
      margin: 0.8rem 0;

      .material-icons {
        color: $color-white;
        font-size: 1.5rem;
      }

      &-close {
        display: none;
      }

      &.active {
        .burger-open {
          display: none;
        }
        .burger-close {
          display: flex;
        }
      }
    }
  }
  .menu {
    transition: all 0.35s ease;
    display: flex;
    margin: 0;
    padding: 0;
    ul {
      list-style: none;
      display: flex;
      li {
        position: relative;
        font-size: 1rem;
        a {
          display: block;
          position: relative;
          color: $color-white;
          transition: 0.3s;
          font-size: 15px;
          letter-spacing: 0.5px;
          font-weight: 500;
          font-family: "Open Sans", sans-serif;
          padding: 1.1rem;

          &:hover {
            color: $color-black;
            background: $color-white;
          }
        }
      }
      .menu-icon a {
        cursor: pointer;
        padding: 0.92rem;
        .material-icons {
          font-size: 1.2rem;
        }
      }
    }
  }
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
main {
  flex: 1 0 auto;
}

/*--------------------------------------------------------------
# Slider
--------------------------------------------------------------*/

.slider {
  min-height: 100vh;
  display: block;
  position: relative;
  .dots {
    width: 100%;
    position: absolute;
    justify-content: center;
    text-align: center;
    top: 88%;
    .dot {
      cursor: pointer;
      height: 1rem;
      width: 1rem;
      margin: 0 0.1rem;
      background-color: $color-white;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      &.active {
        background-color: $color-light-grey;
      }
    }
  }

  &-btn {
    background: $color-grey;
    color: $color-white;
    cursor: pointer;
    top: 45%;

    i.material-icons {
      font-size: 1.5rem;
      height: 100%;
      padding: 1rem;
    }

    &.prev {
      position: absolute;
      left: 0;
      border-radius: 0rem 1rem 1rem 0rem;
    }
    &.next {
      position: absolute;
      right: 0;
      border-radius: 1rem 0rem 0rem 1rem;
    }
  }

  img {
    width: 100%;
    height: 100vh;
  }
}

/*--------------------------------------------------------------
# Products
--------------------------------------------------------------*/

.products {
  .row {
    justify-content: space-around;
    position: relative;
  }
}

.products,
#allProducts {
  .slider-btn {
    border-radius: 2rem;
  }
  .col {
    margin: 2rem 1.5rem;
    .card {
      display: grid;
      grid-template-columns: $card-width;
      grid-template-rows: 13.75rem auto 4.375rem;
      grid-gap: 0.3rem;
      border-radius: 1rem;
      -webkit-box-shadow: $box-shadow;
      box-shadow: $box-shadow;
      transition: transform 0.5s;
      -webkit-transition: transform 0.5s;

      &:hover {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
      }

      & > div {
        padding: 0 1rem;
      }

      h3,
      p {
        margin: 0.2rem 0.2rem;
      }

      .card-image {
        grid-column: 1;
        overflow: hidden;
        img {
          width: 100%;
          margin: auto;
        }
      }
      .card-main {
        grid-column: 1;
        line-height: 1.5em;
        &-title {
          overflow: hidden;
          color: $color-purple;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          height: 3.2rem;
          font-size: 1.5rem;
        }
      }
      .card-price {
        grid-column: 1;
        display: grid;
        grid-template-columns: 1fr 0.5fr 1fr;
        grid-template-rows: 4.375rem;
        align-items: center;
        justify-items: center;
        p:nth-of-type(1) {
          grid-column: 1;
          grid-row: 1;
        }
        p:nth-of-type(2) {
          grid-column: 3;
          grid-row: 1;
        }
      }
    }
  }
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/

#about-us {
  // Cards container
  .container {
    // Cards
    .row {
      justify-content: center;
      .cards {
        padding: 1rem;
        margin-bottom: 2rem;

        .card-item {
          display: flex;
          flex-direction: column;
          background-color: #fff;
          width: $acard-width;
          border-radius: 1rem;
          box-shadow: $box-shadow;
          transition: transform 0.5s;
          -webkit-transition: transform 0.5s;

          .card-intro {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            p {
              max-width: 45%;
              padding: 0.3rem;
            }
          }

          &:hover {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            .card-image {
              opacity: 1;
            }
          }
        }

        // Content
        .card-info {
          display: flex;
          flex-direction: column;
          padding: 1rem;
          line-height: 1.5em;

          .card-title {
            margin-bottom: 0.2em;
            font-size: 1.5rem;
            padding: 1.5rem;
            text-align: center;
          }
        }

        // Images
        .card-image {
          height: 200px;
          overflow: hidden;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;

          border-radius: 1rem 1rem 0 0;
          opacity: 0.91;
        }
      }
    }
  }
}

/*--------------------------------------------------------------
# Categories
--------------------------------------------------------------*/

.categories {
  padding-top: 3.7rem;
  .row {
    justify-content: space-around;
    position: relative;
    .slider-btn {
      border-radius: 2rem;
    }
    .col {
      margin: 2rem 1.5rem;
      .card {
        display: grid;
        grid-template-columns: $card-width;
        grid-template-rows: 15rem 8rem;
        grid-gap: 0.3rem;
        border-radius: 1rem;
        -webkit-box-shadow: $box-shadow;
        box-shadow: $box-shadow;
        transition: transform 0.5s;
        -webkit-transition: transform 0.5s;

        &:hover {
          transform: scale(1.05);
          -webkit-transform: scale(1.05);
        }

        & > div {
          padding: 0 1rem;
        }

        h3,
        p {
          margin: 0.2rem 0.2rem;
        }

        .card-image {
          grid-column: 1;
          overflow: hidden;
          img {
            width: 100%;
            margin: auto;
          }
        }
        .card-main {
          grid-column: 1;
          line-height: 1.5em;
          &-title {
            overflow: hidden;
            color: $color-purple;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            height: 3.2rem;
            font-size: 1.5rem;
          }
          &-describtion {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            height: 3.2rem;
          }
        }
      }
    }
  }
}

/*--------------------------------------------------------------
# All Products
--------------------------------------------------------------*/

#allProducts {
  .row {
    justify-content: center;
    .col {
      max-width: $card-width;
      margin: 2rem 0.35rem;
      .card {
        grid-template-columns: 100%;
      }
    }
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

#contact {
  .container {
    .row {
      justify-content: space-between;
      .contacts {
        max-width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        & > div {
          width: 40%;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          border-radius: 1rem;
          box-shadow: $box-shadow;
          margin: 0.9rem;
          a {
            color: $color-purple;
            width: 100%;
            height: auto;
            &:hover {
              text-decoration: underline;
            }
          }
          h3 {
            padding: 0.45rem 0;
            i {
              padding-right: 0.6rem;
            }
          }
        }
      }
      .map {
        max-width: 50%;

        img {
          width: 100%;
          box-shadow: $box-shadow;
        }
      }
    }
  }
}

/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/
.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: flex;

  align-items: center;
  justify-content: center;
  &.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
  &-bg {
    position: absolute;
    background: $overlay;
    width: 100%;
    height: 100%;
  }
  &-container {
    border-radius: 10px;
    background: $color-white;
    position: relative;
    padding: 30px;
  }
  &-close {
    position: absolute;
    right: 15px;
    top: 15px;
    outline: none;
    appearance: none;
    color: $color-black;
    background: none;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
  }
  .search-form {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    justify-content: center;
    label{
      margin: auto;
      padding: 1rem 0;
    }
    .search-bar{
      display: flex;
      input[type="search"] {
        width: 15rem;
        height: 3rem;
        border: none;
        text-align: center;
        border-radius: 1rem 0 0 1rem ;
        background-color: #c9c9c9;
        color: $color-grey;
      }
  
      button[type="submit"] {
        color: $color-white;
        background: $color-grey;
        cursor: pointer;
        border: none;
        border-radius: 0 1rem 1rem 0;
        width: 3rem;
        height: 3rem;
      }
    }
    
  }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer {
  background: $color-grey;
  color: $color-white;
  a {
    color: $color-white;

    &:hover {
      text-decoration: underline;
    }
  }
  li,
  h3,
  p {
    margin: 0.1rem 0;
  }

  h3,
  p {
    font-size: 1rem;
  }
  li {
    font-size: 0.9rem;
  }

  .d-flex > div {
    font-family: "Open Sans", sans-serif;
    width: 25%;
    margin: 2rem 0;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    &.col-middle-left ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: start;
      margin-left: auto;
      margin-right: auto;
      list-style: none;

      li {
        &:before {
          content: "•";
        }
      }
    }
    &.col-left {
      img {
        max-width: 100px;
      }
    }
  }
}

/*--------------------------------------------------------------
# Tablet
--------------------------------------------------------------*/

@media only screen and(max-width: 1200px) {
  // ----- Navigation TABLET -----
  header {
    .logo {
      display: none;
    }
  }

  .nav-menu {
    display: flex;
    width: 100%;
    .navicon {
      display: block;
      margin: 0 1rem;
      .burger {
        &.active {
          height: 15rem;
        }
      }
    }
    .menu {
      &.active {
        margin: auto;
        align-items: center;

        ul {
          display: flex;
          flex-direction: column;
        }

        .menu-item {
          display: block;
        }
      }
      .menu-item {
        display: none;
      }
      .menu-icon {
        display: flex;
        position: absolute;
        top: 0;

        &#menu-icon1 {
          right: 6rem;
        }
        &#menu-icon2 {
          right: 3rem;
        }
        &#menu-icon3 {
          right: 0;
        }
      }
    }
  }

  // ===== Tablet Product Cards =====
  .products {
    .row {
      .slider-btn {
        &.prev {
          border-radius: 0rem 1rem 1rem 0rem;
        }
        &.next {
          border-radius: 1rem 0rem 0rem 1rem;
        }
      }

      .col {
        &:nth-of-type(3) {
          display: none;
        }
      }
    }
  }

  // ===== Tablet Contacts =====
  #contact {
    .container {
      .row {
        flex-direction: column;
        justify-content: center;

        .contacts {
          max-width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          & > div {
            text-align: center;
            width: 100%;
            padding: 1rem 0;
            border-radius: 0;
            box-shadow: none;
            margin: 0;
          }
        }
        .map {
          max-width: 100%;
        }
      }
    }
  }

  // ----- Footer TABLET -----

  footer {
    .container {
      .d-flex {
        flex-direction: column;
        justify-content: center;
        & > div {
          margin: 1rem auto;
        }
      }
    }
  }
}

/*--------------------------------------------------------------
# Mobile
--------------------------------------------------------------*/

@media only screen and(max-width: 640px) {
  // ===== Product Cards Mobile =====
  .products {
    .col {
      &:nth-of-type(2) {
        display: none;
      }
    }
  }
  // ===== Search Bar Mobile =====
  .modal {
    .search-form {
      padding: 0;
      justify-content: center;
      label {
        width: 13rem;
        input[type="search"] {
          width: 100%;
        }
      }

      button[type="submit"] {
        width: 3rem;
      }
    }
  }

  // ----- Footer Mobile -----

  footer {
    .container {
      .d-flex {
        & > div {
          margin: 0.5rem auto;
        }
      }
    }
  }
}
